@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

:root {
  --dark: #141414;
  --light-blue: #eaf7f9;
  --dim: #a8a3a3;
  --light-gray: #899999;
  --mild: #343;
  --gray: #333;
  --shadow: #dfe6e9;
  --grayish: #969696;
  --maroon: #e0114f;
  --sky-blue: #8bdbe5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 300 16px 'Lato', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 23px;
}

h2 {
  font-size: 20px;
}

.links {
  text-decoration: none;
  color: var(--sky-blue);
  border-radius: 5px;
  border: 1px solid var(--sky-blue);
  padding: 10px;
  transition: 500ms background, 500ms color;
}

.links:hover {
  color: var(--light-blue);
  background: var(--sky-blue);
}

/* Dashboard */

.dashboard {
  display: flex;
  height: 100vh;
}

.container {
  max-width: 900px;
  margin: 50px auto 10px;
  padding: 15px;
}

/* Side Menu */

.side-menu {
  width: 180px;
  background: var(--dark);
  color: #fff;
  overflow: scroll;
}

.side-menu h1 {
  padding: 20px 15px;
}

.side-menu a {
  display: block;
  text-decoration: none;
  color: var(--light-gray);
  font: 300 17px 'Lato', sans-serif;
  padding: 12px 15px;
  letter-spacing: 1px;
  transition: 200ms background;
}

.daily-links {
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
}

.daily-links a {
  font: 300 16px 'Lato', sans-serif;
  padding: 8px 10px 8px 25px;
}

.side-menu a:hover {
  background: var(--gray);
}

.dashboard > *:nth-of-type(2) {
  width: calc(100% - 180px);
  overflow: scroll;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 40px;
  background: var(--light-blue);
  color: var(--light-gray);
}

.top-nav p {
  font: 300px 22px 'Lato', sans-serif;
}

/* Calendar */

.react-calendar__navigation {
  background: var(--light-blue);
  padding: 0 30px;
}

.react-calendar__navigation > * {
  padding: 30px 0;
}

.react-calendar__navigation__arrow {
  font-size: 20px;
  width: 80px;
  border: none;
  background: transparent;
  color: #000;
  outline: none;
}

.react-calendar__navigation__label {
  border: none;
  font-size: 23px;
  padding: 10px;
  font-weight: 100;
  text-transform: uppercase;
  background: transparent;
  pointer-events: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 30px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 15px 0;
}

.react-calendar__month-view__days {
  border: 1px solid var(--shadow);
  margin: 0 30px 20px;
}

.react-calendar__tile {
  display: inline;
  outline: none;
  cursor: pointer;
  padding: 10px 100px 100px 10px;
  text-align: left;
  vertical-align: text-top;
  font-size: 20px;
  border: 1px solid var(--shadow);
  position: relative;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--maroon);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--grayish);
  pointer-events: none;
}

.react-calendar__tile--active {
  color: var(--sky-blue);
}

.hasTask,
.hasEvent {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;

}

.hasTask {
  bottom: 20%;
  right: 30%;
  background: blue;
}

.hasEvent {
  bottom: 20%;
  right: 20%;
  background: red;
}

.react-calendar__month-view__days__day--neighboringMonth .hasTask,
.react-calendar__month-view__days__day--neighboringMonth .hasEvent {
  background: transparent;
}

.nav-arrow {
  color: var(--mild);
  font-size: 35px;
  transition: color 200ms;
}

.react-calendar__navigation__arrow:hover .nav-arrow {
  color: var(--light-gray);
}

/* Daily View */

.tasks .daily-tasks,
.events .daily-events,
.notes .daily-notes,
.schedule .daily-schedule {
  color: var(--sky-blue);
  background: #fff;
}

.daily h1 {
  text-align: center;
  padding: 20px;
  background: var(--light-blue);
}

.daily-nav {
  display: flex;
  justify-content: center;
  background: var(--light-blue);
}

.daily-nav a {
  color: var(--light-gray);
  text-decoration: none;
  flex-basis: 200px;
  padding: 10px 0;
  text-align: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transition: color 200ms, background 300ms;
}

.daily-nav a:active {
  color: #000;
}

.daily-nav a:hover {
  color: var(--sky-blue);
  background: #fff;
}

/* Tasks */
.add-new {
  margin: 20px 0 40px;
}

.view{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid var(--shadow);
  margin-bottom: 5px;
}

.view p {
  font-size: 20px;
}

.task p {
  cursor: pointer;
}

.view button {
  border: none;
}

.fa-pencil, .fa-trash {
  padding: 5px 15px;
  font-size: 20px;
  color: var(--dim);
  transition: color 200ms;
}

.fa-pencil:hover, .fa-trash:hover {
  color: var(--sky-blue);
}

.completed-task {
  position: relative;
}

.completed-task::after {
  content: "";
  width: 100%;
  border: 1px solid var(--shadow);
  position: absolute;
}

.fade {
  color: rgba(168, 163, 163, .3);
}
