@import url('https://fonts.googleapis.com/css?family=Lato:100,300');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 300 16px 'Lato', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 23px;
}

h2 {
  font-size: 20px;
}

/* Dashboard */

.dashboard {
  display: flex;
  height: 100vh;
}

/* Side Menu */

.side-menu {
  width: 180px;
  background: rgb(20, 20, 20);
  color: #fff;
  overflow: scroll;
}

.side-menu h1 {
  padding: 20px 15px;
}

.side-menu a {
  display: block;
  text-decoration: none;
  color: #899999;
  font: 300 17px 'Lato', sans-serif;
  padding: 12px 15px;
  letter-spacing: 1px;
  transition: 200ms background;
}

.daily-links {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.daily-links a {
  font: 300 16px 'Lato', sans-serif;
  padding: 8px 10px 8px 25px;
}

.side-menu a:hover {
  background: #333;
}

.dashboard > *:nth-of-type(2) {
  width: calc(100% - 180px);
  overflow: scroll;
}

.top-nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 40px;
  background: #eaf7f9;
  color: #899999;
}

.top-nav p {
  font: 300px 22px 'Lato', sans-serif;
}

/* Calendar */

.react-calendar__navigation {
  background: #eaf7f9;
  padding: 0 30px;
}

.react-calendar__navigation > * {
  padding: 30px 0;
}

.react-calendar__navigation__arrow {
  font-size: 20px;
  width: 80px;
  border: none;
  background: transparent;
  color: #000;
  outline: none;
}

.react-calendar__navigation__label {
  border: none;
  font-size: 23px;
  padding: 10px;
  font-weight: 100;
  text-transform: uppercase;
  background: transparent;
  pointer-events: none;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 30px;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 15px 0;
}

.react-calendar__month-view__days {
  border: 1px solid #dfe6e9;
  margin: 0 30px 20px;
}

.react-calendar__tile {
  display: inline;
  outline: none;
  cursor: pointer;
  padding: 10px 100px 100px 10px;
  text-align: left;
  vertical-align: text-top;
  font-size: 20px;
  border: 1px solid #dfe6e9;
}

.react-calendar__month-view__days__day--weekend {
  color: #e0114f;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #969696;
  pointer-events: none;
}

.react-calendar__tile--active {
  color: #8bdbe5;
}

.hasTask {
  position: relative;
}

.hasTask:not(.react-calendar__month-view__days__day--neighboringMonth):after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 20%;
  right: 30%;
  background: blue;
  border-radius: 50%;
}

.nav-arrow {
  color: #343;
  font-size: 35px;
  transition: color 200ms;
}

.react-calendar__navigation__arrow:hover .nav-arrow {
  color: #888;
}

/* Daily View */

.tasks .daily-tasks,
.events .daily-events,
.notes .daily-notes,
.schedule .daily-schedule {
  color: #8bdbe5;
  background: #fff;
}

.daily h1 {
  text-align: center;
  padding: 20px;
  background: #eaf7f9;
}

.daily-nav {
  display: flex;
  justify-content: center;
  background: #eaf7f9;
}

.daily-nav a {
  color: #899999;
  text-decoration: none;
  flex-basis: 200px;
  padding: 10px 0;
  text-align: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transition: color 200ms, background 300ms;
}

.daily-nav a:active {
  color: #000;
}

.daily-nav a:hover {
  color: #8bdbe5;
  background: #fff;
}

/* Tasks */

.tasks .container {
  max-width: 900px;
  margin: 50px auto 10px;
  padding: 15px;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.task p {
  font-size: 20px;
}

.task button {
  border: none;
}

.fa-pencil, .fa-trash {
  padding: 15px;
  font-size: 20px;
  color: #a8a3a3;
  transition: color 200ms;
}

.fa-pencil:hover, .fa-trash:hover {
  color: #8bdbe5;
}
